name: CI

on: [push, pull_request]

jobs:
  build-ubuntu:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake git g++

      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake .. -DBUILD_TESTING=ON
          cmake --build .

      - name: Test
        run: |
          cd build
          ctest --output-on-failure

  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -DBUILD_TESTING=ON
          cmake --build . --config Debug

      - name: Test
        run: |
          cd build
          ctest -C Debug --output-on-failure